*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    color:black;
}
.main{
    display:grid;
    grid-template-rows: 300px 70px 1fr;
    height:220vh;
    background: 
    linear-gradient( rgba(83, 185, 115), rgba(88, 182, 182));
}

.banner{
    /* background: 
    linear-gradient( rgba(83, 185, 115), rgba(88, 182, 182));
    background-repeat: no-repeat;
    background-position:center; */
    background-size: 550px 300px;
    
}
form>input{
    width: 330px;
    height: 25px;
    border-radius: 10px;
}

form>button{
    width:70px;
    height:26px;
    background-color: cadetblue;
    border-radius: 10px;
    color:aliceblue;

}
form>button:hover{
    background-color: rgb(173, 201, 202);
}
.auth{
    border: 1px solid white;
    border-radius: 10px;
    background-color: aqua;
    height:25px;
    width:75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}
.search-input{
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.list{
    display:grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: repeat(3,250px);
    grid-gap:35px;
}
.item{
    align-content: center;
    align-items: center;
    text-align: center;
}

.item-4{
    align-content: center;
    align-items: center;
    text-align: center;
    width:200px;
}
.item:hover{
    opacity:0.7;
}
.detail{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 5rem;
    text-decoration: none;
    white-space: nowrap;
    font-size: 30px;
    color:rgb(72, 144, 88);

}
.w-100 {
    width: 100%!important;
    height: 350px;
}